*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.teste {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url(../css/img/background-cad.png); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

.bloco {
    width: 320px;
    height: 30vh;
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
    padding: 100px 55px 33px 55px;
    size: 30px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
    width: 100%;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    background: -webkit-linear-gradient(#B341A0, #5B2BA8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -50px;
    font-size: 25px;

}

.opcao {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 200px;
    height: 50px;
    background: white;
    border-radius: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    text-align: center;
    
  }
  
 .opcao:hover {
    box-shadow: 0 5px 35px 0px rgba(107, 22, 212, 0.189);
  }
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  } 
      

  .btn {
    display:inline-block;
    vertical-align:middle;
    border:1px solid transparent;
    border-radius:25px;
    -webkit-transition:background-color .25s ease-out,color .25s ease-out;
    transition:background-color .25s ease-out,color .25s ease-out;
    font-family:inherit;
    -webkit-appearance:none;
    line-height:1;
    text-align:center;
    cursor:pointer;
    background-color:#000000;
    color:#fefefe;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px; 
    text-decoration: none;
    padding: 1em 3em;
    margin-left: 3vh;
    
  }
  
  .btn:hover, .btn:focus {text-decoration: none;}
  
  .btn-gradient {
    border:0;
    text-shadow:0 0 5px rgba(0,0,0,.25);
    background:#5B2BA8;
    background-image:linear-gradient(to right,#B341A0,#5B2BA8,#5B2BA8,#B341A0);
    background-size:300% 100%;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
  }
  
  .btn-gradient:hover {
    background-position:100% 0;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
  }

