*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.limiter {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.container {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url(../images/background-cad.png); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.bloco {
    width: 320px;
    height: 55vh;
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
    padding: 100px 55px 33px 55px;
    size: 30px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
    width: 100%;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    background: -webkit-linear-gradient(#B341A0, #5B2BA8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -45px;
    font-size: 25px;

}

.btn {
  display:inline-block;
  vertical-align:middle;
  border:1px solid transparent;
  border-radius:25px;
  -webkit-transition:background-color .25s ease-out,color .25s ease-out;
  transition:background-color .25s ease-out,color .25s ease-out;
  font-family:inherit;
  -webkit-appearance:none;
  line-height:1;
  text-align:center;
  cursor:pointer;
  background-color:#000000;
  background-image:linear-gradient(to right,#B341A0,#5B2BA8,#5B2BA8,#5B2BA8);
  color:#fefefe;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px; 
  text-decoration: none;
  padding: 1em 3em;
  margin-left: 4vh;
  
}

.btn:hover, .btn:focus {text-decoration: none;}

.btn-gradient {
  border:0;
  text-shadow:0 0 5px rgba(0,0,0,.25);
  background:#5B2BA8;
  background-image:linear-gradient(to right,#B341A0,#5B2BA8,#5B2BA8,#B341A0);
  background-size:300% 100%;
  -moz-transition:all .4s ease-in-out;
  -o-transition:all .4s ease-in-out;
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out;
}

.btn-gradient:hover {
  background-position:100% 0;
  -moz-transition:all .4s ease-in-out;
  -o-transition:all .4s ease-in-out;
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out;
}

.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
  font-family: 'Poppins', sans-serif;
align-items: center;
justify-content: center;
align-content: center;
}

.inputfile + label {
  font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
color: white;
background: -webkit-linear-gradient(right, #B341A0, #5B2BA8);
background: -o-linear-gradient(right, #B341A0, #5B2BA8);
background: -moz-linear-gradient(right, #B341A0, #5B2BA8);
background: linear-gradient(right, #B341A0, #5B2BA8);
border-radius: 25px;
padding: 5px 10px 5px 10px;  
display: inline-block;
width: 80%;
top: 0;
margin-left: 7%;
text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
cursor: pointer;
}

.texto4{

  width: 100%;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  background: -webkit-linear-gradient(#B341A0, #5B2BA8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;

}

h2 {
  width: 100%;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  background: -webkit-linear-gradient(#B341A0, #5B2BA8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;

}

.table-light{

  justify-content: center;
  align-items: center;
}

#email {
  border: 1px solid #B341A0;
  text-align: center;
  border-radius: 20px;
  margin: 10px 0px 0px 21px;
  padding: 10px 0px 10px 0px;
}

#nome {
  border: 1px solid #B341A0;
  text-align: center;
  border-radius: 20px;
  margin: 10px 0px 0px 21px;
  padding: 10px 0px 10px 0px;
}

#tel {
  border: 1px solid #B341A0;
  text-align: center;
  border-radius: 20px;
  margin: 10px 0px 0px 21px;
  padding: 10px 0px 10px 0px;
}

