.estrelas input[type=radio]{
	display: none;
}.estrelas label i.fa:before{
	content: '\f005';
	color: rgb(98, 0, 255);
	display: inline-block;
	font-size: 30px;
}.estrelas  input[type=radio]:checked  ~ label i.fa:before{
	color: #CCC;
}

body {

	background-image: url(../images/background-cad.png); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  }
  *{
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
	
	.limiter {
	  width: 100%;
	  min-height: 100vh;
	  margin: 0 auto;
	}
	
	.container {
	  width: 100%;  
	  min-height: 100vh;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  padding: 15px;
	  text-align: center;
	}

	.bloco {
		background: #fff;
		border-radius: 30px;
		overflow: hidden;
		padding: 100px 33px 33px 33px;
		size: 30px;
		box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
		-o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
		-ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
	  }
	  
	  h1 {
		  width: 100%;
		  display: block;
		  font-family: 'Poppins', sans-serif;
		  font-size: 30px;
		  color: #333333;
		  line-height: 1.2;
		  text-align: center;
		  background: -webkit-linear-gradient(#B341A0, #5B2BA8);
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		  margin-top: -45px;
		  font-size: 25px;
	  
	  }
	
	  .custom-btn3 {
		display: block;
		background: linear-gradient(90deg, rgb(76, 49, 196) 0%, #7332a6 50%, #b8119c 100%);
		border-radius: 200px;
		padding: 12px 24px;
		color: #fff;
		font-family: 'Poppins', sans-serif;
		margin: auto;
	  }
	  
	  .custom-btn3:hover {
		background: linear-gradient(90deg, rgb(76, 49, 196) 0%, #7332a6 50%, #b8119c 100%);
		color: #fff;
	  }
	
	  .inputfile {
			width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: relative;
		z-index: -1;
		font-family: 'Poppins', sans-serif;
	  margin: auto;
	  display: block;
	 
	}
	
	.inputfile + label {
	  font-family: 'Poppins', sans-serif;
	  font-size: 16px;
	  font-weight: 500;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: white;
	  background: -webkit-linear-gradient(right, #B341A0, #5B2BA8);
	  background: -o-linear-gradient(right, #B341A0, #5B2BA8);
	  background: -moz-linear-gradient(right, #B341A0, #5B2BA8);
	  background: linear-gradient(right, #B341A0, #5B2BA8);
	  border-radius: 25px;
	  padding: 5px 10px 5px 10px;  
	  display: inline-block;
	  width: 350px;
	  top: 0;
	  margin: 0 auto;
	  text-align: center;
	}
	
	.inputfile:focus + label,
	.inputfile + label:hover {
	  cursor: pointer;
	}
	
	button {
	  font-family: 'poppins';
	  border: 2px solid #aa0cd1;
	  border-radius: 40px;
	  color: #aa0cd1;
	  text-decoration: none;
	  background-color: transparent;
	  padding: 7px 20px 7px 20px;
	 margin-left: 800px;
	}
	
	button:hover {
	  background-color: #aa0cd1;
	  color: #ffffff;
	  opacity: 0.9;
	  box-shadow: #aa0cd1;
	}
	
	
	
	nav {
		display: flex;
	  justify-content: space-around;
	  align-items: center;
	  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
	  height: 2vh;
	}
	
	.nav-list {
	  list-style: none;
	  display: flex;
	}
	
	.nav-list li {
	  letter-spacing: 3px;
	  padding: 40px 15px 8px 15px;
	  border-radius: 50px;
	}
	
	
	.form {
	  justify-content: center;
	  align-items: center;
	  
	}

